<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="img d-flex justify-content-center align-items-center">
                <h1 class="font-italic text-orange font-lg pointer">
                    Historical Purchases
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
      <%@purchases.each do |purchase|%>
          <%= render 'info', purchase: purchase %>
      <% end %>
  </div>
</div>