<% assets = @assets%>
<div class="container justify-content-center">
  <h1 class="mb-4 text-center">Available Assets</h1>
  <div class="row d-flex">
    <% assets.each do |asset| %>
      <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
          <div class="h-75">
            <%= render "customer/assets/asset", asset: asset%>
          </div>
          <div class="card-footer bg-transparent border-top-0 h-25">
            Dowload
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>