<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div class="img d-flex justify-content-center align-items-center">
                <h1 class="font-italic text-orange font-lg pointer">
                    CHECKOUT
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="container Content">
<div class="row my-4">
    # <%= render 'order_info' %>
    <%= render 'product_info' %>
</div>
</div>
